@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}




.clear{
	overflow: hidden;
}

.section90{
	padding: 50px;
	background: #2E86C1;
	font-family: Arial;
	margin: auto;
	text-align: center;
}

.nav{
	margin: 30px auto;
	width: 500px;
	
}
.nav ul{}
.nav ul li{
	list-style: none;
	float: left;
	margin: 1px;
	display: block;
}
.nav ul li a{
	text-decoration: none;
	display: block;
	background: #999;
	padding: 10px;
	color: white;
	font-size: 20px;
	border-radius: 5px;
}
.nav ul li a:hover{
	background: black;
	color: #2980B9; 
	border: 1px solid red;
}

.section1{
	padding: 50px;
	font-family: Arial;
	margin: auto;
	text-align: justify;
	font-size: 20px; 

    
}

.image1 {
	height: 950px;
	margin: auto; 
	
}

.grid2{
    display: grid;
    margin: 10px;
    padding: 20px;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto;
    grid-gap: 10px 100px;
    justify-content: center;
    align-content: center;
	text-align: center;
}
.item p{
    font-size: 20px !important;
    line-height: 32px;
    border: 1px solid white;
}
.contentIcon{
    font-size: 30px;
    color: #00ADEF;
    border: 1px solid #D7D7D7;
    padding: 50px;
    border-radius: 50%;
}
.contentIcon:hover{
    background: #00ADEF;
    color: white;
    transition: all .6s ease-in-out;
}


.location{
	text-align: center;
}

.grid {
	display: grid;
	width: 114em;
	grid-gap: 6rem;
	grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
	align-items: start;
  }
  
  .grid-item {
	background-color: #fff;
	border-radius: 0.4rem;
	overflow: hidden;
	box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
	cursor: pointer;
	transition: 0.2s;
  }
  
  .grid-item:hover {
	transform: translateY(-0.5%);
	box-shadow: 0 4rem 8rem rgba(0, 0, 0, 0.5);
  }
  
  .card-img {
	display: block;
	width: 100%;
	height: 20rem;
	object-fit: cover;
  }
  
  .card-content {
	padding: 3rem;
  }
  
  .card-header {
	font-size: 3rem;
	font-weight: 500;
	color: #0d0d0d;
	margin-bottom: 1.5rem;
  }
  
  .card-text {
	font-size: 1.6rem;
	letter-spacing: 0.1rem;
	line-height: 1.7;
	color: #3d3d3d;
	margin-bottom: 2.5rem;
  }
  
  .card-btn {
	display: block;
	width: 100%;
	padding: 1.5rem;
	font-size: 2rem;
	text-align: center;
	color: #3363ff;
	background-color: #d8e0fd;
	border: none;
	border-radius: 0.4rem;
	transition: 0.2s;
	cursor: pointer;
	letter-spacing: 0.1rem;
  }
  
  .card-btn span {
	margin-left: 1rem;
	transition: 0.2s;
  }
  
  .card-btn:hover,
  .card-btn:active {
	background-color: #c2cffc;
  }
  
  .card-btn:hover span,
  .card-btn:active span {
	margin-left: 1.5rem;
  }
  
  @media only screen and (max-width: 60em) {
	body {
	  padding: 3rem;
	}
  
	.grid {
	  grid-gap: 3rem;
	}
  }
  


 

.section2 {
	background: #2E4053;
	color: white;
	padding: 50px;
	font-family: Arial;
	margin: auto;
	text-align: justify;
	font-size: 15px; 
}










